.main{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
.header-portal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 123px;
    background-color: #FAD643;
    
}
.top-header-portal{
    display: flex;
    font-size: 28px;
    line-height: 42px;
}
.bottom-header-portal {
    display: flex;
    font-size: 20px;
    line-height: 30px;
}
.overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 2;
    cursor: pointer;
  }
  
.overlay-text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
.main-portal {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    height: 620px;
    margin-top: 30px;
    background-color: #FFFFFF;
    padding: 20px 50px 20px 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.bond-order-header{
    font-size: 22px;
    height: 63px;
    padding: 10px 0 0 0;
}
.bond-info-row1{
    display: flex;
    flex-direction: row;
    height: 90px;
    padding: 8px 0 8px 0;
}
.bond-info-row1-name{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 15px;
}
.buyer-name-info{
    display: flex;
    width: 100%;
    height: 35px;
}
.input-style{
    width: 100%;
}
.bond-info-row1-date{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 15px;
}
.payment-date-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35px;
    position: relative;
}
.bond-info-row2{
    display: flex;
    flex-direction: column;
    height: 90px;
    padding: 8px 0 8px 0;
}
.buyer-email-style {
    display: flex;
    width: 100%;
    height: 35px;
}
.bond-info-row3{
    display: flex;
    flex-direction: column;
    padding: 8px 0 8px 0;
}
.bond-selection-header {
    height: 40px;
    font-size: 22px;
}
.bond-selection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
}
.bond-selection-single {
    display: flex;
    flex-direction: column;
    width: 24%;
}
.single-selection-info{
    display: flex;
    height: 35px;
}
.total-amount-selection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
}
.total-amount-single-left{
    display: flex;
    flex-direction: column;
    width: 50%;
	margin-right: 15px;
}
.total-amount-single-right{
    display: flex;
    flex-direction: column;
    width: 50%;
	margin-left: 15px;
}
.total-amount-info{
    display: flex;
    height: 35px;
}
.bond-value-info {
    display: flex;
    flex-direction: column;
    width: 50%;
	margin-right: 15px;
}
.exhange-rate-style {
    display: flex;
    width: 60px;
}
.total-currencycode {
    display: flex;
    flex-direction: column;
    width: 25%;
	margin-right: 15px;
}
.currencycode-info {
    display: flex;
    height: 35px;
}
.exhange-rate-info {
	display: flex;
    flex-direction: column;
    width: 25%;
}
.bond-info-row4{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    height: 90px;
}
.cancel-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    border: 1px solid #2196F3;
    color: #2196F3;
    margin-right: 30px;
    cursor: pointer;
}
.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    background-color: #2196F3;
    border: 1px solid #2196F3;
    color: #fff;
    cursor: pointer;
}
.calendar-style {
    position: absolute;
    width: 23px;
    height: 23px;
    right: 5px;
    top: 3px;
}







